SampleClient/SampleClient/Connected Services/Encap/Encap3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Soap_Basic.Responses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Soap_Basic.Responses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost/Encap.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Models" />
  <xs:complexType name="UserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Models" minOccurs="0" name="UserList" nillable="true" type="q1:ArrayOfUser" />
      <xs:element minOccurs="0" name="WasSuccessful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserResponse" nillable="true" type="tns:UserResponse" />
</xs:schema>